<div class="container">
  <h1>Login</h1>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-floating mb-3">
      <input
        formControlName="email"
        [ngClass]="emailErrors.length > 0 ? 'is-invalid' : ''"
        id="email"
        name="email"
        type="email"
        class="form-control"
        placeholder="email"
      />
      <label for="email">Email</label>

      <div *ngIf="emailErrors.length > 0" class="invalid-feedback">
        <span *ngFor="let eMsg of emailErrors">{{ eMsg }}</span>
      </div>
    </div>

    <div class="form-floating mb-3">
      <input
        formControlName="password"
        [ngClass]="passwordErrors.length > 0 ? 'is-invalid' : ''"
        id="password"
        name="password"
        type="password"
        class="form-control"
        placeholder="password"
      />
      <label for="password">Password</label>

      <div *ngIf="passwordErrors.length > 0" class="invalid-feedback">
        <span *ngFor="let eMsg of passwordErrors">{{ eMsg }}</span>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">login</button>
  </form>
</div>
