<div class="container">
  {{ form.value | json }}
  <h1>Login</h1>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-floating mb-3">
      <input
        formControlName="email"
        id="email"
        name="email"
        type="email"
        class="form-control"
        placeholder="email"
        [ngClass]="
          email.valid && (email.touched || email.dirty) ? 'is-invalid' : ''
        "
      />
      <label for="email">Email</label>

      <app-input-validation-errors
        property="email"
        [errors]="validationErrors"
      ></app-input-validation-errors>
    </div>

    <div class="form-floating mb-3">
      <input
        formControlName="password"
        id="password"
        name="password"
        type="password"
        class="form-control"
        placeholder="password"
      />
      <label for="password">Password</label>

      <div *ngIf="validationErrors" class="invalid-feedback">
        <span
          *ngFor="
            let eMsg of extractErrorMessages('password', validationErrors)
          "
          style="display: block"
        >
          {{ eMsg }}
        </span>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">login</button>
  </form>
</div>
