<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawerIsOpen ? closeDrawer() : openDrawer()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>People</span>
  <span class="spacer"></span>
  <button mat-icon-button aria-label="Like">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button aria-label="Share">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container autosize>
  <div *ngIf="drawerIsOpen" class="backdrop" (click)="closeDrawer()"></div>

  <mat-drawer #drawer mode="over">
    <div *ngIf="auth.user as user" class="user">
      <div class="picture">
        <img src="../../../assets/images/anonymous.png" alt="User Pic" />
      </div>
      <div class="credentials">
        <a [routerLink]="urls.user.detail(user._id)" (click)="closeDrawer()">
          <span>{{ auth.user.handle }}</span>
          <span>{{ auth.user.email }}</span>
        </a>
      </div>
    </div>

    <nav class="nav-bar">
      <div *ngIf="!auth.user">
        <a [routerLink]="urls.auth.login()" (click)="closeDrawer()">Login</a>
        <a [routerLink]="urls.auth.register()" (click)="closeDrawer()"
          >Register</a
        >
      </div>
      <div *ngIf="auth.user">
        <a [routerLink]="urls.person.list()" (click)="closeDrawer()">People</a>
        <a [routerLink]="urls.auth.logout()" (click)="closeDrawer()">Logout</a>
      </div>
    </nav>
  </mat-drawer>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
