.nav-drawer {
  height: 100vh;
  left: -250px;
  width: 250px;
  position: fixed;
  transition: 0.5s;
}

.nav-bar {
  display: flex;
  flex-direction: column;

  a {
    width: 100%;
    text-decoration: none;
  }
}
