{{ form.value | json }}
<div class="container">
  <h1>{{ title }}</h1>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div formGroupName="name">
      <!----NAME GROUP---->
      <div class="form-floating mb-3">
        <input
          formControlName="first"
          [ngClass]="(errors | ersExist: 'first') ? 'is-invalid' : ''"
          type="text"
          class="form-control"
          placeholder="First Name"
        />
        <label>First Name</label>

        <ng-container *ngIf="errors | getErs: 'first' as firstErs">
          <div *ngIf="firstErs.length > 0" class="invalid-feedback">
            <span *ngFor="let eMsg of firstErs">{{ eMsg }}</span>
          </div>
        </ng-container>
      </div>

      <div
        *ngIf="form | getArr: 'name.middle' as middleArr"
        formArrayName="middle"
        class="mb-3"
      >
        <!----MIDDLE ARRAY---->
        <div
          *ngFor="let middle of middleArr.controls; let i = index"
          class="form-floating mb-3"
        >
          <input
            [formControlName]="i"
            [ngClass]="(errors | ersExist: 'middle') ? 'is-invalid' : ''"
            type="text"
            class="form-control"
            placeholder="Middle Name"
          />
          <label>Middle Name</label>

          <ng-container *ngIf="errors | getErs: 'middle' as firstErs">
            <div *ngIf="firstErs.length > 0" class="invalid-feedback">
              <span *ngFor="let eMsg of firstErs">{{ eMsg }}</span>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="form-floating mb-3">
        <input
          formControlName="last"
          [ngClass]="(errors | ersExist: 'last') ? 'is-invalid' : ''"
          type="text"
          class="form-control"
          placeholder="Last Name"
        />
        <label>Last Name</label>

        <ng-container *ngIf="errors | getErs: 'last' as lastErs">
          <div *ngIf="lastErs.length > 0" class="invalid-feedback">
            <span *ngFor="let eMsg of lastErs">{{ eMsg }}</span>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="form-floating mb-3">
      <input
        formControlName="birthday"
        [ngClass]="(errors | ersExist: 'birthday') ? 'is-invalid' : ''"
        type="date"
        class="form-control"
      />
      <label>Birthday</label>

      <ng-container *ngIf="errors | getErs: 'birthday' as birthdayErs">
        <div *ngIf="birthdayErs.length > 0" class="invalid-feedback">
          <span *ngFor="let eMsg of birthdayErs">{{ eMsg }}</span>
        </div>
      </ng-container>
    </div>

    <button type="submit" class="btn btn-primary">
      {{ btnText }}
    </button>
  </form>
</div>
