<div class="container">
  <h1>{{ title }}</h1>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <!----NAME GROUP---->
    <div formGroupName="name">
      <!----FIRST NAME---->
      <div class="form-floating mb-3">
        <input
          formControlName="first"
          [ngClass]="(errors | ersExist: 'first') ? 'is-invalid' : ''"
          type="text"
          class="form-control"
          placeholder="First Name"
        />
        <label>First Name</label>

        <ng-container *ngIf="errors | getErs: 'first' as firstErs">
          <div *ngIf="firstErs.length > 0" class="invalid-feedback">
            <span *ngFor="let eMsg of firstErs">{{ eMsg }}</span>
          </div>
        </ng-container>
      </div>

      <!----MIDDLE NAME ARRAY---->
      <div
        *ngIf="form | getArr: 'name.middle' as middleArr"
        formArrayName="middle"
        class="mb-3 flex-col-aiC"
      >
        <div
          *ngFor="let middle of middleArr.controls; let i = index"
          class="input-group mb-3"
          style="align-self: stretch"
        >
          <input
            [formControlName]="i"
            [ngClass]="(errors | ersExist: 'middle') ? 'is-invalid' : ''"
            type="text"
            class="form-control"
            placeholder="Middle Name"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-danger"
              type="button"
              (click)="removeFromArr('name.middle', i)"
            >
              X
            </button>
          </div>

          <ng-container *ngIf="errors | getErs: 'middle' as firstErs">
            <div *ngIf="firstErs.length > 0" class="invalid-feedback">
              <span *ngFor="let eMsg of firstErs">{{ eMsg }}</span>
            </div>
          </ng-container>
        </div>
        <button
          type="button"
          class="btn btn-outline-success"
          (click)="addToArr('name.middle')"
        >
          Add Middle Name
        </button>
      </div>

      <!----LAST NAME---->
      <div class="form-floating mb-3">
        <input
          formControlName="last"
          [ngClass]="(errors | ersExist: 'last') ? 'is-invalid' : ''"
          type="text"
          class="form-control"
          placeholder="Last Name"
        />
        <label>Last Name</label>

        <ng-container *ngIf="errors | getErs: 'last' as lastErs">
          <div *ngIf="lastErs.length > 0" class="invalid-feedback">
            <span *ngFor="let eMsg of lastErs">{{ eMsg }}</span>
          </div>
        </ng-container>
      </div>

      <!----NICK NAME ARRAY---->
      <div
        *ngIf="form | getArr: 'name.nick' as nickArr"
        formArrayName="nick"
        class="mb-3 flex-col-aiC"
      >
        <div
          *ngFor="let nick of nickArr.controls; let i = index"
          class="input-group mb-3"
          style="align-self: stretch"
        >
          <input
            [formControlName]="i"
            [ngClass]="(errors | ersExist: 'nick') ? 'is-invalid' : ''"
            type="text"
            class="form-control"
            placeholder="Nick Name"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-danger"
              type="button"
              (click)="removeFromArr('name.nick', i)"
            >
              X
            </button>
          </div>

          <ng-container *ngIf="errors | getErs: 'nick' as firstErs">
            <div *ngIf="firstErs.length > 0" class="invalid-feedback">
              <span *ngFor="let eMsg of firstErs">{{ eMsg }}</span>
            </div>
          </ng-container>
        </div>
        <button
          type="button"
          class="btn btn-outline-success"
          (click)="addToArr('name.nick')"
        >
          Add Nick Name
        </button>
      </div>
    </div>

    <!----BIRTHDAY---->
    <div class="form-floating mb-3">
      <input
        formControlName="birthday"
        [ngClass]="(errors | ersExist: 'birthday') ? 'is-invalid' : ''"
        type="date"
        class="form-control"
      />
      <label>Birthday</label>

      <ng-container *ngIf="errors | getErs: 'birthday' as birthdayErs">
        <div *ngIf="birthdayErs.length > 0" class="invalid-feedback">
          <span *ngFor="let eMsg of birthdayErs">{{ eMsg }}</span>
        </div>
      </ng-container>
    </div>

    <!----CONTACT GROUP---->
    <div formGroupName="contact">
      <!----PHONE ARRAY---->
      <div
        *ngIf="form | getArr: 'contact.phone' as phoneArr"
        formArrayName="phone"
        class="mb-3 flex-col-aiC"
      >
        <div
          *ngFor="let phone of phoneArr.controls; let i = index"
          class="input-group mb-3"
          style="align-self: stretch"
          [formGroupName]="i"
        >
          <div class="input-group-prepend">
            <select
              formControlName="type"
              class="btn btn-outline-primary"
              type="button"
            >
              <option selected>Select Type</option>
              <option>Mobile</option>
              <option>Home</option>
              <option>Work</option>
              <option>Other</option>
            </select>
          </div>

          <input
            formControlName="number"
            [ngClass]="(errors | ersExist: 'phone') ? 'is-invalid' : ''"
            type="text"
            class="form-control"
            placeholder="Middle Name"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-danger"
              type="button"
              (click)="removeFromArr('contact.phone', i)"
            >
              X
            </button>
          </div>

          <ng-container *ngIf="errors | getErs: 'phone' as firstErs">
            <div *ngIf="firstErs.length > 0" class="invalid-feedback">
              <span *ngFor="let eMsg of firstErs">{{ eMsg }}</span>
            </div>
          </ng-container>
        </div>
        <button
          type="button"
          class="btn btn-outline-success"
          (click)="addToArr('contact.phone')"
        >
          Add Phone
        </button>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">
      {{ btnText }}
    </button>
  </form>
</div>
