<h1 mat-dialog-title>Person Filter</h1>

<div mat-dialog-content>
  <form [formGroup]="form" class="flex-column">
    <!----FIRST NAME---->
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input formControlName="name.first" matInput placeholder="First Name" />
    </mat-form-field>

    <!----LAST NAME---->
    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input formControlName="name.last" matInput placeholder="Last Name" />
    </mat-form-field>

    <!----BIRTHDAY NAME---->
    <mat-form-field appearance="fill">
      <mat-label>Birthday</mat-label>
      <input formControlName="birthday" matInput placeholder="Birthday" />
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button
    (click)="close()"
    mat-button
    [mat-dialog-close]="true"
    cdkFocusInitial
  >
    Ok
  </button>
</div>
