<div class="nav-drawer" [style.left]="left">
  <div *ngIf="auth.user" class="user">
    <div class="picture">
      <img src="../../../assets//images/anonymous.png" />
    </div>
    <div class="credentials">
      <span>{{ auth.user.handle }}</span>
      <span>{{ auth.user.email }}</span>
    </div>
  </div>

  <nav class="nav-bar">
    <div *ngIf="!auth.user">
      <a [routerLink]="urls.auth.LOGIN" (click)="drawer.close()">Login</a>
      <a [routerLink]="urls.auth.REGISTER" (click)="drawer.close()">Register</a>
    </div>
    <div *ngIf="auth.user">
      <a [routerLink]="urls.person.LIST" (click)="drawer.close()">People</a>
      <a [routerLink]="urls.auth.LOGOUT" (click)="drawer.close()">Logout</a>
    </div>
  </nav>
</div>
