<div class="container">
  <h1>Person Details</h1>
  <ng-container *ngIf="person$ | async as person">
    <div class="detail-group">
      <label>Name: </label>
      <span>{{ person.name.first }} {{ person.name.last }}</span>
    </div>

    <div class="detail-group">
      <label>Birthday: </label>
      <span>{{ person.birthday }}</span>
    </div>

    <div *ngIf="person.contact.phone.length > 0" class="detail-group">
      <label>Phone: </label>
      <div *ngFor="let phone of person.contact.phone" class="phone">
        <span class="type">{{ phone.type }}:</span>
        <span class="number">{{ phone.number }}</span>
      </div>
    </div>

    <div *ngIf="person.contact.email.length > 0" class="detail-group">
      <label>Email: </label>
      <div *ngFor="let email of person.contact.email" class="email">
        <span class="type">{{ email.type }}:</span>
        <span class="address">{{ email.address }}</span>
      </div>
    </div>

    <div class="detail-group">
      <a
        [routerLink]="urls.person.edit(person._id)"
        mat-raised-button
        color="primary"
      >
        Edit
      </a>

      <button (click)="delete(person._id)" mat-raised-button color="warn">
        Delete
      </button>
    </div>
  </ng-container>
</div>
