{{ form.value | json }}
<div class="container">
  <h1>{{ title }}</h1>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div formGroupName="name">
      <div class="form-floating mb-3">
        <input
          formControlName="first"
          [ngClass]="nameErrors.first.length > 0 ? 'is-invalid' : ''"
          id="first"
          type="text"
          class="form-control"
          placeholder="first name"
        />
        <label for="first">First Name</label>

        <div *ngIf="nameErrors.first.length > 0" class="invalid-feedback">
          <span *ngFor="let eMsg of nameErrors.first">{{ eMsg }}</span>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">
      {{ btnText }}
    </button>
  </form>
</div>
