{{ form.value | json }}
<div class="container">
  <h1>{{ title }}</h1>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div formGroupName="name">
      <div class="form-floating mb-3">
        <input
          formControlName="first"
          [ngClass]="(vErs | vErX: 'first') ? 'is-invalid' : ''"
          id="first"
          name="first"
          type="text"
          class="form-control"
          placeholder="First Name"
        />
        <label for="first">First Name</label>

        <ng-container *ngIf="vErs | vErs: 'first' as firstErs">
          <div *ngIf="firstErs.length > 0" class="invalid-feedback">
            <span *ngFor="let eMsg of firstErs">{{ eMsg }}</span>
          </div>
        </ng-container>
      </div>

      <div class="form-floating mb-3">
        <input
          formControlName="last"
          [ngClass]="(vErs | vErX: 'last') ? 'is-invalid' : ''"
          id="last"
          name="last"
          type="text"
          class="form-control"
          placeholder="Last Name"
        />
        <label for="first">Last Name</label>

        <ng-container *ngIf="vErs | vErs: 'last' as lastErs">
          <div *ngIf="lastErs.length > 0" class="invalid-feedback">
            <span *ngFor="let eMsg of lastErs">{{ eMsg }}</span>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="form-floating mb-3">
      <input
        formControlName="birthday"
        [ngClass]="(vErs | vErX: 'birthday') ? 'is-invalid' : ''"
        id="birthday"
        name="birthday"
        type="date"
        class="form-control"
      />
      <label for="birthday">Birthday</label>

      <ng-container *ngIf="vErs | vErs: 'birthday' as birthdayErs">
        <div *ngIf="birthdayErs.length > 0" class="invalid-feedback">
          <span *ngFor="let eMsg of birthdayErs">{{ eMsg }}</span>
        </div>
      </ng-container>
    </div>

    <button type="submit" class="btn btn-primary">
      {{ btnText }}
    </button>
  </form>
</div>
