<div class="container">
  <h1>People</h1>
  <ng-container *ngIf="people$ | async as people">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Birthday</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let person of people; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ person.name.first }}</td>
          <td>{{ person.name.last }}</td>
          <td>{{ person.birthday }}</td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</div>
