@use "@angular/material" as mat;

@include mat.core();

// Define pink dark theme
$dark-primary-1: mat.define-palette(mat.$pink-palette);
$dark-accent-1: mat.define-palette(mat.$blue-grey-palette);
$dark-warn-1: mat.define-palette(mat.$red-palette);
$dark-theme-1: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary-1,
      accent: $dark-accent-1,
      warn: $dark-warn-1,
    ),
  )
);

// Define purple dark theme
$dark-primary-2: mat.define-palette(mat.$purple-palette);
$dark-accent-2: mat.define-palette(mat.$pink-palette);
$dark-warn-2: mat.define-palette(mat.$red-palette);
$dark-theme-2: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary-2,
      accent: $dark-accent-2,
      warn: $dark-warn-2,
    ),
  )
);

// Define purple light theme
$light-primary-1: mat.define-palette(mat.$deep-purple-palette);
$light-accent-1: mat.define-palette(mat.$amber-palette);
$light-warn-1: mat.define-palette(mat.$red-palette);
$light-theme-1: mat.define-light-theme(
  (
    color: (
      primary: $light-primary-1,
      accent: $light-accent-1,
      warn: $light-warn-1,
    ),
  )
);

// Define blue light theme
$light-primary-2: mat.define-palette(mat.$indigo-palette);
$light-accent-2: mat.define-palette(mat.$pink-palette);
$light-warn-2: mat.define-palette(mat.$red-palette);
$light-theme-2: mat.define-light-theme(
  (
    color: (
      primary: $light-primary-2,
      accent: $light-accent-2,
      warn: $light-warn-2,
    ),
  )
);

.dark-theme-1 {
  @include mat.core-theme($dark-theme-1);
  @include mat.button-theme($dark-theme-1);
  @include mat.all-component-themes($dark-theme-1);
}

.dark-theme-2 {
  @include mat.core-theme($dark-theme-2);
  @include mat.button-theme($dark-theme-2);
  @include mat.all-component-themes($dark-theme-2);
}

.light-theme-1 {
  @include mat.core-color($light-theme-1);
  @include mat.button-color($light-theme-1);
  @include mat.all-component-themes($light-theme-1);
}

.light-theme-2 {
  @include mat.core-color($light-theme-2);
  @include mat.button-color($light-theme-2);
  @include mat.all-component-themes($light-theme-2);
}

/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page {
  header {
    margin: 2rem 0;
  }
}
