/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap-reboot.min.css";
@import "~bootstrap/scss/bootstrap";

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: whitesmoke;
}

h1 {
  margin: 30px 0;
}

.invalid-feedback {
  span {
    display: block;
  }
}
