<mat-form-field appearance="fill">
  <mat-label>password</mat-label>
  <input
    [formControl]="control"
    matInput
    [type]="showPassword ? 'text' : 'password'"
    placeholder="your password"
  />
  <mat-icon matSuffix (click)="togglePasswordVisibility()">{{
    showPassword ? "visibility_off" : "visibility"
  }}</mat-icon>
  <ng-container *ngIf="errors | getErs: 'password' as passwordErs">
    <mat-error *ngFor="let eMsg of passwordErs">{{ eMsg }}</mat-error>
  </ng-container>
</mat-form-field>
