.toolbar {
  align-items: center;
  background-color: #1976d2;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 60px;
  left: 0;
  padding: 0 15px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 3;
}

.toolbar-text-container {
  display: flex;
  flex-grow: 2;
  justify-content: center;

  span {
    font-size: 2.25rem;
    position: relative;
    right: 35px;
  }
}
